\<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
        

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills">Skills</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <section class="contact-page">

        <div class="contact-info">

            <h1>Let's Connect</h1>

            <p>
                Have a project, internship opportunity or just want to
                connect? Feel free to send me a message.
            </p>

            <div class="contact-item">
                <h3>📧 Email</h3>
                <p>Your Email</p>
            </div>

            <div class="contact-item">
                <h3>📍 Location</h3>
                <p>Erode, Tamil Nadu</p>
            </div>

            <div class="contact-item">
                <h3>💻 GitHub</h3>
                <p>My GitHub Profile</p>
            </div>

        </div>


        <div class="contact-form">

            <h2>Send Me a Message</h2>

            <form>

                <input type="text"
                       placeholder="Your Name"
                       required>

                <input type="email"
                       placeholder="Your Email"
                       required>

                <input type="text"
                       placeholder="Subject"
                       required>

                <textarea
                    placeholder="Your Message"
                    rows="6"
                    required></textarea>

                <button type="submit">
                    Send Message
                </button>

            </form>

        </div>

    </section>

</body>
</html>