<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Projects | E. Raja</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
        <h2>E.Raja</h2>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills">Skills</a>
            <a href="/projects">Projects</a>
        </div>
    </nav>

    <section class="projects-page">

        <h1>My Projects</h1>

        <div class="projects-container">

            <div class="project-card">
                <h3>🏛️ Hall Allotment System</h3>
                <p>
                    A web-based system designed to manage and automate
                    examination hall allotment for colleges.
                </p>
                <span>Python • Flask • HTML • CSS</span>
                <a href="#"
                class="project-btn">view project</a>
            </div>

            <div class="project-card">
                <h3>🔐 Password Strength Checker</h3>
                <p>
                    A Python project that checks password strength
                    based on different security conditions.
                </p>
                <span>Python</span>
                <a href="#"
                class="project-btn">view project</a>
            </div>

            <div class="project-card">
                <h3>🌐 Personal Portfolio</h3>
                <p>
                    A professional portfolio website showcasing my
                    skills, projects and learning journey.
                </p>
                <span>HTML • CSS • JavaScript • Flask</span>
                <a href="#"
                class="project-btn">view project</a>
            </div>

        </div>

        <a class="back-btn" href="/">← Back to Home</a>

    </section>

</body>
</html>